.video__container {
  margin: 3rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.videobox {
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30rem;
  flex: 1;
}

.videobox a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.videoholder {
  flex: 1;
  object-position: center;
  overflow: hidden;
}

.videocontent {
  margin-top: 2rem;
}
.videodescription {
  height: auto;
  margin: 3rem;
}

.videocontent h1 {
  text-align: center;
  font-weight: 900;
}

.videodescription {
  font-size: 1.5rem;
  width: 37rem;
}
@media only screen and (max-width: 550px) {
  .videobox {
    height: auto;
    width: auto;
  }
  .video__container {
    height: auto;
    margin: 0;
  }
  .videocontent {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .videobox {
    height: auto;
    max-width: 34rem;
  }
  .videoholder {
    object-position: center;
  }
  .videodescription {
    width: 30rem;
  }
}
